body {
  margin: 0;
  padding: 0;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: Roboto;
}
.container{
background-color: white;
padding: 15px;
border-radius: 7px;
}
.image{
    height: 255px;
    width: 255px;
    overflow: hidden;
    border-radius: 7px;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h3{
    text-align: center;
}
p{
    text-align: center;
    color: gray;
}